@use "../variables" as *;

.ast__pagination {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;

	&:first-child {
		margin-bottom: 12px;
	}

	&-gap,
	&-meta {
		align-self: center;
		padding: 0 6px;
		color: $wp-text-muted;
	}
}