.ast__body {
  .status-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }

  .status-indicator {
    font-size: 16px;
    padding: 0;
    border-radius: 24px;
    white-space: nowrap;

    &.status-offline {
      border-color: var(--wc-red);
      color: var(--wc-red);
    }

    &.status-online {
      border-color: green;
      color: green;
    }
  }

  .last-check-time {

  }
}